{% extends 'eventat_web/base.html' %}

{% load static %} <!-- New line -->
	{% block body_block %}

		<div class="col-md-6 col-md-offset-3 text-center add-event">
			<img src="/static/img/check2.png" class="wow zoomInDown" >
			<div  class="wow zoomInUp">
				<h1>500 Server Error. We're working on a fix now. </h1>
			</div>
		</div>
	{% endblock %}
	