{% extends 'eventat_web/base.html' %}

{% load static %} <!-- New line -->
	{% block body_block %}

		<div class="col-md-6 col-md-offset-3 text-center add-event">
			<img src="/static/img/check2.png" class="wow zoomInDown" >
			<div  class="wow zoomInUp">
				<h2>تم إضافة إيفنتك بنجاح انتظر التاكيد خلال 24 ساعة</h2>
				<h5 class="back">العودة إلي<a href="/"> الصفحة الرئيسية</a></h5>
			</div>
		</div>
	{% endblock %}
	