<!DOCTYPE html>
<html lang="en" class="demo-1 no-js">
<head>
    {% load static %}
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Eventat</title>
	<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />

	<!-- stylesheet -->
	<link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
	<link  rel="stylesheet"  type="text/css" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
	<link rel="stylesheet"  type="text/css" href="/static/css/animate.css">
	<!-- stylesheet  end -->

</head>
<body>

	<div class="social-media wow shake" data-wow-delay="1s">
		<a href="#" class="highlight"><img src="/static/img/twitter.png"></a>
		<a href="#" class="highlight"><img src="/static/img/facebook.png" ></a>
	</div>
	<div class="container">
		<div class="row text-center wow fadeInDown">
			<a  href="/"><img src="/static/img/logo.png"></a>
		</div>
		<div class="clear"></div>
                
                {% block body_block %}{% endblock %}
        </div><!-- /container -->

        <footer class="col-md-12 text-center">
		<p><a href="http://www.aimawy.com">AIM</a> © 2014</p>
	</footer>


</body>
<!-- javascript sheets -->
	<script src="/static/js/snap.svg-min.js"></script>
	<script src="/static/js/jquery-2.1.1.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>

	<script>
		(function() {

			function init() {
				var speed = 250,
				easing = mina.easeinout;

				[].slice.call ( document.querySelectorAll( '#grid > a' ) ).forEach( function( el ) {
					var s = Snap( el.querySelector( 'svg' ) ), path = s.select( 'path' ),
					pathConfig = {
						from : path.attr( 'd' ),
						to : el.getAttribute( 'data-path-hover' )
					};

					el.addEventListener( 'mouseenter', function() {
						path.animate( { 'path' : pathConfig.to }, speed, easing );
					} );

					el.addEventListener( 'mouseleave', function() {
						path.animate( { 'path' : pathConfig.from }, speed, easing );
					} );
				} );
			}

			init();

		})();
	</script>
	<!-- javascript sheets -->
</html>