{% extends 'eventat_web/base.html' %}

{% load static %} <!-- New line -->
            {% block body_block %}
		<!-- Top Navigation -->
		<header class="codrops-header wow fadeInDown">
			<h1>إيفنتات الجامعات<span>إختار الإيفنت اللى يناسبك  وشارك  فيه</span></h1>
			<nav class="codrops-demos" dir="rtl">
				<a href="/">الكل </a>
				<a href="/technology/">تكنولوجيا</a>
				<a href="/seminar/">ندوات ومؤتمرات</a>
				<a class="current-demo" href="/entertainment/">رحلات وأنشطة ترفيهية</a>
			</nav>
		</header>
		<!-- Top Navigation -->

		<section id="grid" class="grid clearfix">
                    {% for event in events %}
			<a href="{{event.link_event}}" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z" class="wow fadeInUp">
			{% ifequal event.type_event "Entertainment" %}
			{% if event.start_event <= event.end_event %}
			{% if event.activate_event %}
				<figure>	
                                    {% if event.image_event %}
                                        <img src= "{{event.image_event.url}}"/>
                                    {% endif %}
					<svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z"/></svg>
					<figcaption>
						<h2>{{ event.name_event }}</h2>
						<p>{{event.details_event}}</p>
						<button>شارك</button>
					</figcaption>	
				</figure>
			{% endif %}
			{% endif %}
			{% endifequal %}
			</a>
                    {% endfor %}
		</section>
	

	<a href="/form/" class="white-circle col-md-12 col-lg-12 text-center" >
		<div >
			<img src="/static/img/add.png">
		</div>
	</a>
         {% endblock %}
	