{% extends 'eventat_web/base.html' %}

{% load static %} <!-- New line -->
	{% block body_block %}

		<!-- Top Navigation -->
		<header class="codrops-header wow fadeInDown">
			<h1>ضيف إيفينتك</h1>
		</header>

		<form role="form" dir="rtl" class="col-md-8 col-md-offset-2" method='POST' action='' enctype="multipart/form-data">{% csrf_token %}

			<div class="pull-right col-md-6  wow fadeInRight">
				<div class="form-group ">
					<label for="event_name">إسم الإيفنت</label>
					<input type="text" id="event_name"class="form-control" name="name_event">
				</div>
				<div class="form-group">
					<label for="image" class="pull-right">صورة الايفنت</label>
					<div class="clear"></div>
					<div class="fileUpload btn btn-primary pull-left">
						<span>حمّل صورة للإيفنت</span>
						<input type="file" class="upload " name="image_event"/>
					</div>
					<p>يفضل أن يكون حجم الصوره  323*565 px</p>
				</div>
					<div class="clear"></div>
				<div class="form-group ">
					<label for="link">لينك الإيفنت</label>
					<input type="text" class="form-control" name="link_event">
				</div>

				<div class="form-group">
					<label for="bio">تفاصيل</label>
					<textarea class="form-control" rows="3" name="details_event"></textarea>
				</div>
			</div>

			<div class="pull-left col-md-6 wow fadeInLeft">
				<div class="form-group">
					<label for="date">تاريخ بداية الإيفنت</label>
					<input type="date" id="date" name="start_event" placeholder=" " class="form-control">
				</div>

				<div class="form-group">
					<label for="date">تاريخ الإنتهاء </label>
					<input type="date" id="date" name="end_event" placeholder=" " class="form-control">
				</div>
				<div class="clear"></div>
				<div class="form-group">
					<label>نوع الإيفنت</label>
					<select id="type" name="type_event" class="form-control">
						<option value = "Entertainment">ترفيه</option>
						<option value = "Technology">تكنولوجي </option>
						<option value = "Seminar">ندوة </option>
					</select>
				</div>
			</div>
			<div class="clear"></div>
			<!--{{form.as_p}}-->
			<div class="col-md-12 text-center wow fadeInUp">
				<button type="submit" class="btn btn-default add-btn">ضـــيف الإيفنت</button>
			</div>
		</form>
        {% endblock %}