@font-face {
	font-family: 'DroidKufi-Regular';
	src: url('../fonts/DroidKufi-Regular.eot');
	src: url('../fonts/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/DroidKufi-Regular.woff') format('woff'),
	url('../fonts/DroidKufi-Regular.ttf') format('truetype'),
	url('../fonts/DroidKufi-Regular.svg#BebasNeueRegular') format('svg');
}
@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.eot');
	src: url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light.woff') format('woff'),
	url('../fonts/Roboto-Light.ttf') format('truetype'),
	url('../fonts/Roboto-Light.svg#BebasNeueRegular') format('svg');
}

/* Common style */
.grid {
	margin: 40px auto 120px;
	max-width: 1000px;
	width: 90%;
}

.grid a {
	float: left;
	/*max-width: 250px;*/
	width: 33.333%;
	color: #333;
}

.grid a:nth-child(odd) {
	margin: 30px 0 -30px 0;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figcaption h2 {
	margin: 0 0 20px 0;
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 300;
	/*font-size: 30px;*/
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.grid figcaption p {
	padding: 0 20px;
	color: #aaa;
	font-weight: 300;
	font-size: 18px;

	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption h2,
.grid figcaption p {
	-webkit-transform: translateY(50px);
	transform: translateY(50px);
}

.grid figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figcaption h2,
.grid figcaption p,
.grid figure button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Style for SVG */
.grid svg {
	position: absolute;
	top: -1px; /* fixes rendering issue in FF */
	z-index: 10;
	width: 100%;
	height: 100%;
}

.grid svg path {
	fill: #fff;
}

/* Hover effects */
.grid a:hover figure img {
	opacity: 1;
}

.grid a:hover figcaption h2,
.grid a:hover figcaption p {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.grid a:hover figcaption p {
	opacity: 0;
}

/* Individual styles */
.demo-1 body {
	background: #3E3E6B;
	width: 100%;
	height: 100%;
}

.demo-1 .grid figure button{
	top: 50%;
	left: 50%;
	background: rgba(255,255,255,0.8);
	color: transparent;
	width: 100px;
	height: 50px;
	font-size: 25px;
	color:#34495e;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
	font-weight: normal;
}

.demo-1 .grid a:hover figure button{
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (max-width: 58em) {
	.grid a {
		width: 33.333%;
	}

	.grid a:nth-child(odd) {
		margin: 0;
	}

	.grid a:nth-child(3n-1) {
		margin: 30px 0 -30px 0;
	}
}

@media screen and (max-width: 45em) {
	.grid {
		max-width: 500px;
	}

	.grid a {
		width: 50%;
	}

	.grid a:nth-child(3n-1) {
		margin: 0;
	}

	.grid a:nth-child(even) {
		margin: 30px 0 -30px 0;
	}


	.grid figcaption h2 {
		margin-bottom: 0px;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	.grid figcaption p {
		margin: 0;
		padding: 0 10px;
	}
}

@media screen and (max-width: 27em) {
	.grid {
		max-width: 250px;
	}

	.grid a {
		width: 100%;
	}

	.grid a:nth-child(even) {
		margin: 0;
	}
}



*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

/*.demo-1 body {
background: #3498db;
}*/
body {
	/*background: #333;*/
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Lato', Arial, sans-serif;
	font-family: "DroidKufi-Regular", "Lato" ;
	/*background-image:url("../img/icond.png");*/
	background-repeat: repeat;
	background-size: 100% 100%;
	background-color: #F5F9FA;
	font-weight: normal !important;
}
.highlight{
	border: 1px dotted red;
}

.social-media{
	position: absolute;
	/*width: 100%;*/
	left: 0;
	/*height: auto;*/
	/*overflow: visible;*/
	margin: 15px;

}

.social-media img {
	width: 20px;
	height: 20px;
}
.social-media a{
	opacity: 0.5;
	display: inline-block;
	border: 1px solid #fff;
	padding: 5px;
}
.social-media a:hover , .social-media a:active{
	opacity: 1;
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;    
}

.navbar-brand img{
	width:150px;
	height:150px;
}

.clear{
	clear: both;
}
a, button {
	outline: none;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #fff;
	text-decoration: underline;
}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.codrops-header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1.3;
}

.codrops-header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.8em;
}

.codrops-demos a {
	display: inline-block;
	margin: 0.5em;
	padding: 1em 1.1em;
	outline: none;
	border: 1px solid #fff;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 14px;
	font-weight: normal;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #666666;
	background-color: #fff;
	color: #333;
	*/    -webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;  
}

.related {
	text-align: center;
	font-size: 1.5em;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}
.white-circle{
	background-color:#e74c3c;
	position: fixed;
	bottom:15px;
	right: 15px;
	width: 50px;
	height: 50px;
	/*border-radius: 50%;*/
	text-align: center;
	padding: 8px;
}
.white-circle:hover{
	opacity: 0.8;
	*/    -webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;  
}

form {
	margin-top: 10px;
}


form label {
	font-size: 16px;
	font-weight: normal;
}
.form-control{
	border-radius: 0px;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff; 
	font-family: "DroidKufi-Regular" , "Roboto-Light" ; 
	height: 37px; 
}
.add-btn{
	border-radius: 0;
	background-color: transparent;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 45px;
	font-size: 20px
}
.add-btn{
	-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow:none;
	box-shadow: none;
}
select option {
	background-color: #3E3E6B;
	color:#fff;
	font-size: 14px;
}
.back{
	margin-top: 30px;
}
.add-event{
	margin-top: 100px;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin-right: 10px;
	left: 0;
	background-color: transparent;
	border:1px solid #fff;
	float: right;
	cursor: pointer !important;
	border-radius: 0px;

}

.fileUpload:hover ,  .fileUpload:focus , .fileUpload:active{
	background-color: #fff;
	color: #3E3E6B ;
		-webkit-transition: all 0.7s ease-out;
	-moz-transition: all 0.7s ease-out;
	-ms-transition: all 0.7s ease-out;
	-o-transition: all 0.7s ease-out;
	transition: all 0.7s ease-out;
	border:1px solid  #66afe9;
	cursor: pointer !important;

}


.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer !important;
	opacity: 0;
	filter: alpha(opacity=0);
}

footer{
	position: relative !important;
	bottom: 0;
	opacity: 0.5;
	/*padding-top: 50px;*/
}
footer p {
	font-size: 18px;
	font-family: "Roboto-Light";
}